nav{
	position: relative;
	background-position: center;
	background-size: cover;

}
#logo {
	padding: 4rem 0;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 4rem;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1.2s;
}
.wrapper{
	min-height: 95%;
    background: #f4f5f6;
	padding-bottom: 8rem;
}
footer{
	min-height: 5%;
	background-color: #30415D;
}
footer a{
	display: block;
	text-align: center;
	font-size: 2rem;
	padding-top: .5rem;
}

@media only screen and (min-width: 60em) {
    /* 960px */
    .container {
        width: 90%;
        max-width: 80rem;
    }
}

/* About */
#capitol {
    padding-top: 2rem;
}
#about h1 {
    padding-top: 3rem;
}

#about p {
    padding-top: 2rem;
}

/* Form */
.form-label{
	font-size: 1rem;
}
.form-address{
	margin: 0!important;
}
.form-input{
	display: inline-block;
	box-sizing: border-box;
	background-color: transparent;

	border: 4px solid #30415D;
	width: 100%;

	font-family: 'Raleway', sans-serif;
	color: #333;
	font-size: 1.5em;
	line-height: 2em;
	padding: .5rem 1rem;
}
.form-search{
	margin-top: 0!important;
	margin-bottom: 0!important;
}
.form-btn{
	margin-top: 0!important;
	margin-bottom: 0!important;
	display: inline-block;;
	box-sizing: border-box;

	border: 4px solid #30415D;

	font-family: 'Raleway', sans-serif;
	color: #333;
	font-size: 2em;
	line-height: 1.5em;
	padding: .5rem 2rem;
	background: transparent;

	/* animation */
	-webkit-transition: all ease 0.4s;
	-moz-transition: all ease 0.4s;
	transition: all ease 0.2s;
}
.form-btn:hover {
	cursor: pointer;
    background-color: #30415D;
    color: #FFF;
}
/* Card */
.card-list{
	padding-top: 3rem;
}
.card{
	width: 70%;
	max-width: 60rem;
	margin: 0 auto;
	border: 4px solid #6DA2C9;
}

/* Photo */
.card-photo{
	padding-top: 1rem;
	width: 100%;
}

/* Name */
.card-member{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 2rem;
	padding-top: 1rem;
}
.card-chamber{
	font-family: 'Raleway', sans-serif;
	font-style: italic;
}

/* Office */
.spacer{
	clear:both;
}
.card-office{
	padding-top: .25rem;
}
.hidden{
	display: none;
}
.card-office-btn{
	border: none;
	outline: none;

	box-sizing: border-box;
	width: 100%;
	background: #30415D;
	padding: 1rem .5rem;
}
.card-office-btn-caret{
	float: left;
	padding-left: .5rem;
    font-size: 2rem;
}
.card-office-btn-name{
	float: left;
	font-size: 2rem;
	padding-left: .5rem;
	color: #000;
}
.card-office-btn-link{
	float: right;
	color: #000;
	text-decoration: none;
	font-family: "Lato", sans-serif;
	font-style: italic;
    font-size: 1rem;
	padding-top: .5rem;
    padding-right: .5rem;
}
.card-office-panel{
	box-sizing: border-box;
	width: 100%;
	border: 4px solid #30415D;
}
.card-office-panel-hours{
	background: #30415D;
	color: #000;
}



/* Social */
.card-social{
	display: block;
	padding-top: 1rem;
}
.card-link {
    margin: 0px 6px;
	font-size: 2rem;
}
.card-link:hover {
    opacity: 1;
}


/* Font */
.font-right {
    text-align: right;
}
.font-white {
    color: #fff;
}
.font-gray{
	color: #333;
}
.font-red{
	color: #CF6766;
}
.font-emphasis{
	text-shadow: 1px 1px 1px #333;
}
.font-raleway {
    font-family: 'Raleway', sans-serif;
}
.font-open-sans {
    font-family: 'Open Sans Bold', sans-serif;
}
.font-alfa-slab-one {
	font-family: 'Alfa Slab One', sans-serif;
}

.fa-icon{
	font-size: 2rem;
}
.fa-white{
	color: #fff;
}


/* Animations */
@keyframes dropHeader {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



/* Animation */
.hidden {
    opacity: 0;
}

.card-animation-start {
    animation-name: cardEnter;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}


@keyframes cardEnter {
    from {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        opacity: 0;
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}




/*
	Mobile Settings
*/
@media only screen and (max-width: 55em){
	.col-4{
		width: 96%;
	}
	.col-8{
		width: 96%;
	}
	.card{
		width: 100%!important;
	}
	.card-photo{
		max-width: 15rem;
	}
	.form-address{
		width: 100%;
	}
	.form-search{
		display: block;
		text-align: center;
		margin: .5rem 0 0 0 !important;
	}
	.card-office-btn-office{
    cursor: pointer;
		display: inline-block;
		text-align: center;
	}
	.card-office-btn-link{
		float: none;
		padding-right: 0;
		padding-top: 1rem;
		font-size: 1rem;
		text-decoration: underline;
	}


}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* ROOT FONT STYLES */

* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}
