.submit-report{
	display:none;
}

.qr-box{
	display: none;
	position: fixed;
	width: 100px;
	left: 0;
	top: 0;
	background-color: azure;
	z-index: 9999;
}
.offices{
	padding: 30px;
}

 .officeIcons{
	 padding-top: 10px;
 }
.office{
	padding: 5px;
	border: 1px dotted black;
	border-radius: 5px;
}

.officeDetails{
	margin: 0 auto;
}


.cont-photo{
	widh: 100%;
}

.fa-white{
	color:white;
}
.card-link{
	margin: 0px 6px;
}
.card-link:hover{
	opacity: 0.7;
}
.d-inline-block{
	display: inline-block;
}
.m-0{
	margin: 0;
}
.banner{
	background-image: url(banner.jpg);
	background-position: center;
	background-size:cover;
	width: 100%;
	min-height: 300px;
}
.container{
	background-color: white;
	border: 1px #aaa solid;
	border-radius: 4px;
	margin-top: -140px;
}

/* Mobile Settings */
@media only screen and (max-width : 480px) {
	.container{
		padding: 0 20px;
		margin: -60px 5px;
	}
}


/* Animation */
.hidden{
	opacity: 0;
}
.card-animation-start{
    animation-name: cardEnter;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

.fa fa-exclamation-triangle {
	text-align: right;
}

@keyframes cardEnter {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
	opacity: 0;
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  	opacity: 1;
  }
}
