<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Phone Your Rep</title>
  <link rel="icon" type="image/png" href="<%= require('./images/favicon.png') %>" />

	<!-- Facebook Meta -->
	<!-- Fix for Deployment -->
	<meta property="og:url" content="#" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Phone Your Rep" />
	<meta property="og:description" content="Generate and easily save the contact information for your Congressmembers directly to your phone." />
  <meta property="og:image" content="<%= require('./images/twitter_meta_card.png') %>" />

	<!-- JQuery and Google Maps API-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN47V710PFxcFAGY3Gx6hipg7P3CWcQn8&libraries=places&v=3"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>

	<!-- Fonts && Font Awesome -->
	<link href="https://fonts.googleapis.com/css?family=Raleway|Open+Sans" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>
	<div class="wrapper">
		<div class="body-content">
			<div class="container">
				<form id="form" class="form-group" onsubmit="">
					<p class="font-gray font-raleway form-label">
						Get your Congressmembers Contact:
					</p>

					<div class="row">
						<div class="col-8 m-0">
							<input name="address" type="text" id="address" class="form-input" placeholder="Your Address">
							<input name="lat" type="hidden" id="lat" value="">
							<input name="lng" type="hidden" id="lng" value="">
							<input name="administrative_area_level_1" type="hidden" id="state" value="">
						</div>

						<div class="col-4 m-0-tb">
							<div id="submit" class="form-btn">Search</div>
						</div>
					</div>
				</form>

				<div id="root">

				</div>
			</div>
		</div>
	</div>

	<!-- reCAPTCHA  -->

</body>

</html>
