nav {
    margin: 0 auto;
    padding: 4rem 0;
    border-bottom: .1rem solid #d1d1d1;
	/* background: #30415D; */
}
nav{
	background-image: url('../images/header.png');
	background-position: center;
	background-size: cover;
}
#logo {
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 4rem;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1.2s;
}
.wrapper{
	min-height: 85%;
    background: #f4f5f6;
	padding-bottom: 8rem;
}

@media only screen and (min-width: 60em) {
    /* 960px */
    .container {
        width: 90%;
        max-width: 80rem;
    }
}

/* About */
#capitol {
    padding-top: 2rem;
}
#about h1 {
    padding-top: 3rem;
}

#about p {
    padding-top: 2rem;
}

/* Form */
.form-label{
	font-size: 1.5rem;
}
.form-address{
	margin: 0!important;
}
.form-input{
	display: inline-block;
	box-sizing: border-box;
	background-color: transparent;

	border: 4px solid #30415D;
	width: 100%;

	font-family: 'Raleway', sans-serif;
	color: #333;
	font-size: 1.5rem;
	line-height: 3rem;
	padding: .5rem 1rem;
}
.form-search{
	margin-top: 0!important;
	margin-bottom: 0!important;
}
.form-btn{
	margin-top: 0!important;
	margin-bottom: 0!important;
	display: inline-block;;
	box-sizing: border-box;

	border: 4px solid #30415D;

	font-family: 'Raleway', sans-serif;
	color: #333;
	font-size: 1.5rem;
	line-height: 3rem;
	padding: .5rem 2rem;
	background: transparent;

	/* animation */
	-webkit-transition: all ease 0.4s;
	-moz-transition: all ease 0.4s;
	transition: all ease 0.2s;
}
.form-btn:hover {
	cursor: pointer;
    background-color: #30415D;
    color: #FFF;
}
/* Card */
.card-list{
	padding-top: 3rem;
}
.card{
	width: 70%;
	max-width: 60rem;
	margin: 0 auto;
	border: 4px solid #6DA2C9;
}

/* Photo */
.card-photo{
	padding-top: 1rem;
	width: 100%;
}

/* Name */
.card-member{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 2rem;
	padding-top: 1rem;
}
.card-chamber{
	font-family: 'Raleway', sans-serif;
	font-style: italic;
}

/* Office */
.spacer{
	clear:both;
}
.card-office{
	padding-top: .25rem;
}
.hidden{
	display: none !important;
}
.card-office-btn{
	position: relative;
	border: none;
	outline: none;

	box-sizing: border-box;
	width: 100%;
	background: #30415D;
	padding: 1rem .5rem;
}
.card-office-btn-caret{
	float: left;
	padding-left: .5rem;
    font-size: 1rem;
    padding-top: .5rem;
}
.card-office-btn-name{
	float: left;
	font-size: 2rem;
	padding-left: .5rem;
	color: #000;
}
.card-office-btn-link{
	position: absolute;
    color: #000;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-size: 1rem;
    right: 0;
    top: 0;
    width: 4rem;
    height: 100%;
    background: #CF6766;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-office-panel{
	box-sizing: border-box;
	width: 100%;
	border: 4px solid #30415D;
}
.card-office-panel-hours{
	background: #30415D;
	color: #000;
}



/* Social */
.card-social{
	display: block;
	padding-top: 1rem;
}
.card-link {
    margin: 0px 6px;
	font-size: 2rem;
}
.card-link:hover {
    opacity: 1;
}
.card-share-link {
	display: block;
	padding-top: 1.5rem;
}


/* Footer && Directory */
footer{
	background-color: #30415D;
}
.directory-relative{
	position: relative;
}
.directory-input{
	background: #fff;
	border-color: #fff;
}
.directory-btn{
	background: #fff;
	border-color: #fff;
}
.directory-btn:hover{
	background: #d2d2d2;
}
.directory-btn a{
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 2rem;
}
.directory-list{
	position:absolute;
	left:0;
	top: 4rem;
	z-index: 100;

	width: 100%;
	max-height: 14rem;
	overflow: scroll;

	margin-top: 0!important;
	margin-bottom: 0!important;
	display: inline-block;;
	box-sizing: border-box;

	border: 4px solid #fff;

	font-family: 'Raleway', sans-serif;
}
.directory-list-member{
	font-size: 2em;
	background-color: #f4f5f6;
	padding: .5rem 1rem;
}
.directory-list-member:hover{
	background-color: #d2d2d2;
	cursor: pointer;
}

.footer-info{
    margin-top: 10rem;
	padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 2px solid #fff;
}
.footer-links{
	text-align: center;
}
.footer-icon{
	font-size: 3rem;
}
.footer-icon:hover{
	color: #d2d2d2;
}



/* Font */
.font-right {
    text-align: right;
}
.font-white {
    color: #fff;
}
.font-gray{
	color: #333;
}
.font-red{
	color: #CF6766;
}
.font-emphasis{
	text-shadow: 1px 1px 1px #333;
}
.font-raleway {
    font-family: 'Raleway', sans-serif;
}
.font-open-sans {
    font-family: 'Open Sans Bold', sans-serif;
}
.font-alfa-slab-one {
	font-family: 'Alfa Slab One', sans-serif;
}

.fa-icon{
	font-size: 2rem;
}
.fa-white{
	color: #fff;
}


/* Animations */
@keyframes dropHeader {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



/* Animation */
.hidden-opacity {
    opacity: 0;
}

.card-animation-start {
    animation-name: cardEnter;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}


@keyframes cardEnter {
    from {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        opacity: 0;
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}




/*
	Mobile Settings
*/
@media only screen and (max-width: 55em){
	.col-4{
		width: 96%;
	}
	.col-8{
		width: 96%;
	}
	.card{
		width: 100%!important;
	}
	.card-photo{
		max-width: 15rem;
	}
	.form-address{
		width: 100%;
	}
	.form-search{
		display: block;
		text-align: center;
		margin: .5rem 0 0 0 !important;
	}
	.card-office-btn-office{
    	cursor: pointer;
	}
	.card-office-btn-link{
		float: none;
		padding-right: 0;
		font-size: 1rem;
		text-decoration: underline;
	}
	.directory-btn{
		margin-top: 1rem!important;
		cursor: pointer;
	}
	.directory-btn:hover{
		background: #fff;
	}


}
